
<div class="parent">
    <div class="container">
        <!-- Title section -->
        <div class="title">Login</div>
        <div class="content">
          <!-- Registration form -->
          <form>
            <div class="user-details">
              
              <div class="input-box">
                <span class="details">Email</span>
                <input type="email" name="email" [(ngModel)]="loginObj.EmailId" placeholder="Enter your email" required>
              </div>

              <div class="input-box">
                <span class="details">Password</span>
                <input type="text" name="password" [(ngModel)]="loginObj.Password"  placeholder="Enter your password" required>
              </div>
              
              
            </div>
        
            <!-- Submit button -->
            <div class="button">
              <input type="submit" (click)="onLogin()" value="Login">
            </div>
            <div class="register-link">
              <p>Don't have an account? <a routerLink="/register">Register here</a></p>
            </div>
            
          </form>
        </div>
      </div>
    
  </div>